html {

  background: rgba(66, 23, 23, 0.452);

}

label {
  display: flex;
  width: 75%;
}

.App {
  display: flex;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  flex-direction: column;




}

.atWork {
  text-align: start
}

.Done {

  text-decoration-line: line-through;
  text-align: start
}

/* .toDoItem {
  margin-left: 2%;
  margin-top: 2%;
  display: flex;
border-bottom: 1px solid white;
  justify-content: space-between;
  width: 95%; */


/* } */
.text {
  width: 70%;
  height: 100%;
}

main {

  width: 50%;

}

.buttons {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.addToDoItem {
  justify-content: center;


}


/* .toDoList {
  margin-top: 5%;
  border: 2px solid gray;
  border-radius: 20px;
  background-color: rgba(255, 251, 251, 0.288);
  
} */

@media screen and (max-width: 750px) {


  main {

    width: 95%;

  }

}